.container {
  height: 100px;
  width: 200px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  background-color: rgba(118, 118, 118, .1);
  border-radius: 4px;
}

.handlers {
  display: flex;
  justify-content: space-between;
}

.handlers button {
  color: dodgerblue;
  height: 27px;
  width: 27px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .7);
}

.handlers button:hover {
  color: royalblue;
}

.handlers span {
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin: 7px 5px;
  border: 1px solid dodgerblue;
  width: 95%;
  height: 100%;
  border-radius: 3px;
}

.submitButton button {
  background-color: transparent;
  color: dodgerblue;
  border: none;
  padding: 5px 0;
  font-weight: bold;
  cursor: pointer;
}

.submitButton button:hover {
  color: royalblue;
}
